In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv(r"E:\tops\Data science\practical\Boston.csv")
dataset.head(3)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,House_price
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [5]:
input_data =dataset.iloc[:,:-1]
input_data.head(3)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03

In [8]:
output_data=dataset["House_price"]
output_data.head(3)

0    24.0
1    21.6
2    34.7
Name: House_price, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.25)

In [12]:
x_train.shape

(379, 14)

In [13]:
x_test.shape

(127, 14)

In [15]:
y_train.shape

(379,)

In [16]:
y_test.shape

(127,)