# data Balance use this Teaqnic

In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv(r"E:\tops\Data science\machine Learning\14 mbalanced dataset\Social_Network_Ads.csv")
dataset.head(3)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0

In [3]:
dataset=dataset.drop(["User ID","Gender"],axis=1)

In [4]:
dataset.head(3)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0

In [6]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

# sampling

In [9]:
from imblearn.under_sampling import RandomUnderSampler

In [16]:
x=dataset.iloc[:,:-1]
y=dataset["Purchased"]

In [14]:
ru=RandomUnderSampler()

In [17]:
ru_x,ru_y=ru.fit_resample(x,y)

# data divied

In [12]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(ru_x,ru_y,test_size=0.2,random_state=42)

# model train

In [21]:
from sklearn.linear_model import LogisticRegression

In [24]:
lr=LogisticRegression()

In [26]:
lr.fit(x_train,y_train)
lr.score(x_test,y_test)*100

77.58620689655173

# matrix  , f1-score  ,  precision-score  ,  recall-score

In [38]:
from sklearn.metrics import confusion_matrix ,precision_score, recall_score,f1_score

In [43]:
cm=confusion_matrix(y_test,lr.predict(x_test))                                     # matrix
cm

array([[19,  5],
       [ 8, 26]])

In [44]:
ps=precision_score(y_test,lr.predict(x_test))*100                                  #precision score 
ps

83.87096774193549

In [45]:
rs=recall_score(y_test,lr.predict(x_test))*100                                     # recall score
rs

76.47058823529412

In [40]:
f1=f1_score(y_test,lr.predict(x_test))*100                                         #f1 score 
f1

80.0