In [2]:
import pandas as pd

In [75]:
dataset=pd.read_csv(r"E:\tops\Data science\machine Learning\14 mbalanced dataset\Social_Network_Ads.csv")
dataset.head(3)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0

In [76]:
dataset=dataset.drop(["User ID","Gender"],axis=1)
dataset.head(3)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0

In [77]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [78]:
from imblearn.over_sampling import RandomOverSampler

In [79]:
x=dataset.iloc[:,:-1]
y=dataset["Purchased"]

In [80]:
y.value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [81]:
ro=RandomOverSampler()
rox,roy=ro.fit_resample(x,y)

In [82]:
(len(rox)==len(roy))

True

In [83]:
roy.value_counts()

Purchased
0    257
1    257
Name: count, dtype: int64

In [84]:
from sklearn.model_selection import train_test_split

In [85]:
x_train,x_test,y_train,y_test=train_test_split(rox,roy,test_size=0.2,random_state=42)

In [86]:
from sklearn.linear_model import LogisticRegression

In [87]:
lr=LogisticRegression()

In [88]:
lr.fit(x_train,y_train)
lr.score(x_test,y_test)*100

85.43689320388349

In [89]:
from sklearn.metrics import confusion_matrix,precision_score,f1_score,recall_score

In [90]:
confusion_matrix(y_test,lr.predict(x_test))

array([[50,  6],
       [ 9, 38]])

In [91]:
ps=precision_score(y_test,lr.predict(x_test))*100
ps

86.36363636363636

In [92]:
f1=f1_score(y_test,lr.predict(x_test))*100
f1

83.51648351648352

In [93]:
rs=recall_score(y_test,lr.predict(x_test))*100
rs

80.85106382978722